{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CLAPP</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {{ bootstrap.load_css() }}
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
</head>

<body>
    <div id="navigationHolder">
        <div class="container p-2" id="navigationContainer"> 
            <ul id="navigation-items" class="nav nav-pills">
                <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Modules</a>
                <div id="nav-modules" class="dropdown-menu"></div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configs</a>
                    <div id="nav-modules" class="dropdown-menu">
                        <a class="dropdown-item" href="/configuration?config=provider">Provider Configuration</a>
                        <a class="dropdown-item" href="/configuration?config=login">Login Configuration</a>
                        <a class="dropdown-item" href="/configuration?config=instance">Instance Configuration</a>
                    </div>
                </li>
                <div id="navigation-extra"></div>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $.get('/get-navigation-items', function(response){
            for (mod in response){
                console.log(response)
                mod_mod = response[mod]['module']
                mod_name = response[mod]['name']
                $('#nav-modules').append(`<a class="dropdown-item" href="/${mod_mod}">${mod_name}</a>`)
            }
        })
    </script>

    <div class="container" id="notificationHolder">
    </div>

    <main class="container">
        {% block page %}
        {% endblock %}
    </main>


    <footer class="page-footer font-small text-center py-3">
        <a href="https://github.com/lmcad-unicamp/CLAP"> 2020: Unicamp CLAP </a>
    </footer>

    {{ bootstrap.load_js() }}
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.jqueryui.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
</body>
</html>