<div class="container p-2" id="navigationContainer"> 
    <ul class="nav nav-pills">
        <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Modules</a>
        <div id="nav-modules" class="dropdown-menu">
            {% for interface in interfaces %}
            <a class="dropdown-item" href="/{{ interface.module }}">{{ interface.name }}</a>
            {% endfor %}
        </div>
        </li>
        <div id="navigation-items"></div>
    </ul>
</div>