---
- gather_facts: {{ gather_facts }}
  hosts: {{ hosts }}
  tasks: 
  - name: Tag EC2 instances
    vars:
      names: 
      {% for item in names %}
      - id: {{item.id}}
        name: {{item.name}}
      {% endfor %}
    loop: "{{ '{{' }} names {{ '}}' }}"
    ec2_tag:
      resource: "{{ '{{' }} item.id {{ '}}' }}"
      tags:
        Name: "{{ '{{' }} item.name {{ '}}' }}"