clusters:
  mpi-paramount-cluster:
    nodes:
      mpi-paramount-coordinator:
        type: {{ node_type_coord }}
        count: 1

      {% if node_count and node_count > 0 %}
      mpi-paramount-slave:
        type: {{ node_type }}
        count: {{ node_count }}

      {% endif %}