---
- gather_facts: no
  hosts: localhost
  tasks: 
  - name: {{ task_name }}
    ec2_instance_info:
      instance_ids:
      {% for instance_id in instance_ids %}
      - {{ instance_id }}
      {% endfor %}
