{% extends 'base.html' %}

{% block page %}

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
        put_navigation()
        update_node_list()
    });

    function put_navigation(){
        // $("#navigation-items").replaceWith(`
        //     <li class="nav-item" onClick="save_content()">Start</li>
        //     <li class="nav-item" onClick="get_editor_content()">Reload</li>
        // `);
    }


    function action_start() {
        console.log('start action called!')
    }

    function update_node_list(){
        $.get('get-node-list', function(response){
            console.log(response)
            table = $('#nodeTable').DataTable()
            table.rows().remove()

            for (node in response){
                node_id = response[node]['node_id'];
                node_instance_type = response[node]['instance_type']
                node_status = response[node]['status']
                node_ip = response[node]['ip']
                node_lifecycle = response[node]['lifecycle']
                node_update_time = moment.unix(response[node]['update_time']).toString()
                
                table.row.add([node_id, node_instance_type, node_status, node_ip, node_lifecycle, node_update_time]).draw(true)
            }

            $('#nodeTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('table-active');
            });
        });
    }
    
</script>

<div id="nodeListContainer">
    <div id="nodeListTableDiv" class="table-responsive">
        <table id="nodeTable" class="table">
            <thead>
              <tr>
                <th scope="col">Node</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">IP</th>
                <th scope="col">Lifecycle</th>
                <th scope="col">Update Time</th>
              </tr>
            </thead>
            
            <tbody>
            </tbody>
          </table>
    </div>

</div>



{% endblock %}