{% extends 'base.html' %}

{% block page %}

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
        put_navigation()
        update_node_list()
        get_groups()
        setInterval(update_node_list, 30000)
    });

    function put_navigation(){
        $("#navigation-extra").replaceWith(`
            <li class="nav-item"><a class="nav-link" href="#" onclick="action_start()">Start</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="action_resume()">Resume</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="action_pause()">Pause</a></li>
            <li class="nav-item"><a class="nav-link" href="#" onclick="action_stop()">Stop</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add to Group</a>
                <div id="navigation-groups" class="dropdown-menu">
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Group Action</a>
                <div id="navigation-group-actions" class="dropdown-menu">
            </li>`
        )
    }

    function get_groups(){
        $.get('get-groups', function(response){
            console.log(response)
            for (group in response){
                group_name = response[group]['name'].toString()
                $("#navigation-groups").append(`<a class="dropdown-item" href="#" onclick="action_group_add('${group_name}')"> ${group_name} </a>`)
                $("#navigation-group-actions").append(`<a class="dropdown-item" href="#" onclick="action_group_action('${group_name}')"> ${group_name} </a>`)
            }
        })
    }

    function action_start() {
        console.log('start action called!')
    }

    function action_group_add(group_name) {
        var table = $('#nodeTable').DataTable()
        var ids = $.map(table.rows('.selected').data(), function (item) {
            return item[0]
        });
        if (ids.length <= 0){
            add_notification('fail', 'You must select at least one node!')
            return
        }

        $.post('get-group-add-modal', {'group': group_name}, function(response){
            div_id = "modalForm"
            div_modal = document.createElement('div');
            div_modal.setAttribute("id", div_id);
            $("#modalFormHolder").empty()
            $("#modalFormHolder").append(div_modal)
            $("#"+div_id).replaceWith(response)
            $('#group_add_modal').modal('show');

            $('#group_add_modal_ok').click(function(){
                add_notification('warning', `Adding nodes to group ${group_name}`)
                $('#group_add_modal').modal('hide');
                var group_vars_values = $('#group_add_modal_values').serializeArray()
                
                $.post('add-to-group', {'node_ids': JSON.stringify(ids), 'group_name': group_name, 
                        'group_values': JSON.stringify(group_vars_values)}, function(response){
                    add_notification('success', response)
                }).fail(function(response){
                    add_notification('fail', response.responseText)
                })
            })
        })
    }

    function action_group_action(group_name) {
        alert("Received group action: "+ group_name)
    }

    function action_resume() {
        var table = $('#nodeTable').DataTable()
        var ids = $.map(table.rows('.selected').data(), function (item) {
            return item[0]
        });
        if (ids.length <= 0){
            add_notification('fail', 'You must select at least one node!')
            return
        }
        add_notification('success', `Resuming nodes: ${ids}...`)
        $.post('resume', {'node_ids': JSON.stringify(ids)}, function(response){
            add_notification('success', response)
            update_node_list()
        }).fail(function(response){
            add_notification('fail', response.responseText)
            update_node_list()
        });
    }

    function action_pause() {
        var table = $('#nodeTable').DataTable()
        var ids = $.map(table.rows('.selected').data(), function (item) {
            return item[0]
        });
        if (ids.length <= 0){
            add_notification('fail', 'You must select at least one node!')
            return
        }
        add_notification('success', `Pausing nodes: ${ids}...`)
        $.post('pause', {'node_ids': JSON.stringify(ids)}, function(response){
            add_notification('success', response)
            update_node_list()
        }).fail(function(response){
            add_notification('fail', response.responseText)
            update_node_list()
        });
    }

    function action_stop() {
        var table = $('#nodeTable').DataTable()
        var ids = $.map(table.rows('.selected').data(), function (item) {
            return item[0]
        });
        if (ids.length <= 0){
            add_notification('fail', 'You must select at least one node!')
            return
        }
        add_notification('success', `Stopping nodes: ${ids}...`)
        $.post('stop', {'node_ids': JSON.stringify(ids)}, function(response){
            add_notification('success', response)
            update_node_list()
        }).fail(function(response){
            add_notification('fail', response.responseText)
            update_node_list()
        });
    }

    function update_node_list(){
        $.get('get-node-list', function(response){
            var table = $('#nodeTable').DataTable()
            $('#nodeTable tbody').off('click')
            table.rows().remove()
            table.destroy()

            table = $('#nodeTable').DataTable()
            for (node in response){
                node_id = response[node]['node_id'];
                node_instance_type = response[node]['instance_type']
                node_status = response[node]['status']
                node_ip = response[node]['ip']
                node_lifecycle = response[node]['lifecycle']
                node_update_time = moment.unix(response[node]['update_time']).toString()
                
                r = table.row.add([node_id, node_instance_type, node_status, node_ip, node_lifecycle, node_update_time]).draw(true).node()
                //if (node_status != 'reachable')
                //    $(r).toggleClass('table-warning')
                
            }

            $('#nodeTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('table-active');
                $(this).toggleClass('selected');
            });
        });
    }
    
</script>

<div id="modalFormHolder" class="container">

</div>

<div id="nodeListContainer">
    <div id="nodeListTableDiv" class="table-responsive">
        <table id="nodeTable" class="table">
            <thead>
              <tr>
                <th scope="col">Node</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">IP</th>
                <th scope="col">Lifecycle</th>
                <th scope="col">Update Time</th>
              </tr>
            </thead>
            
            <tbody>
            </tbody>
          </table>
    </div>

</div>



{% endblock %}