{% extends 'base.html' %}

{% block content %}


<script>
    var nodes = " {{ nodes }} "

    function start_loading(){
        display_list()
    }

    function start_nodes(){
        console.log(nodes)
        alert("Start action")
    }

    function check_alives(){
    }

    function stop_nodes(){
        console.log(nodes)
        alert("Stop action")
    }

    function refresh_list(){
    }

    function display_list(){
        div = document.getElementById("node-div")
        div.innerHTML = ""

        for (node in nodes) {
            div.innerHTML += '<div class="row">'
            div.innerHTML += '<div class="col-sm">'
            div.innerHTML += '<h5><b>' + node['node_id'] + '</b></h5>'
            div.innerHTML += '</div>'
            div.innerHTML += '</div>'
        }
    }

</script>

<h1>CLAP Manager</h1>


<div class="container">
    <div class="col-sm">
        <div class="row">
                <div class="btn-group">
                        <button class="btn btn-outline-primary" onclick="start_nodes()">
                                Start Instances
                        </button>

                        <button class="btn btn-outline-primary" onclick="stop_nodes()">
                                Stop
                        </button>
                </div>
        </div>
    </div>
</div>

<div class="container">

    <h2>Nodes</h2>

    <div id="node-div">

    </div>

</div>

{% endblock %}