{% extends 'base.html' %}

{% block content %}


<script>
    var nodes = JSON.parse({{nodes|tojson|safe}})

    function start_loading(){
        display_list()
    }

    function start_nodes(){
        console.log(nodes)
        alert("Start action")
    }

    function check_alives(){
    }

    function stop_nodes(){
        console.log(nodes)
        alert("Stop action")
    }

    function refresh_list(){
    }

    function display_list(){
        div = document.getElementById("node-div")
        div.innerHTML = ""
        
        for (node_idx in nodes){
            console.log(nodes[node_idx])
            
            div.innerHTML +=  '<div class="row">' +
                '<div class="col-sm">' +
                '<h5><b>' + nodes[node_idx]['node_id'] + '</b></h5>' +
                '</div>' +
                '<div class="col-sm">' +
                '<b>IP:</b>' + nodes[node_idx]['ip'] +
                '</div>' +
                '<div class="col-sm">' +
                '<b>Provider:</b>' + nodes[node_idx]['provider_id'] +
                '</div>'

            if (Object.keys(nodes[node_idx]['groups']).length > 0){
                div.innerHTML +=  '<div class="col-sm">' +
                    '<h6><b>Groups</b></h6>'
                
                arr = []
                for (group_name in nodes[node_idx]['groups']){
                    arr.push(group_name)
                } 
                arr.join(',')
                div.innerHTML += arr
                                
                div.innerHTML += '</div>'
            }
            
            if (Object.keys(nodes[node_idx]['tags']).length > 0){
                div.innerHTML +=  '<div class="col-sm">' +
                    '<h6><b>Tags</b></h6>'
                
                arr = []
                for (tag in nodes[node_idx]['tags']){
                    arr.push(tag + ": " + nodes[node_idx]['tags'][tag])
                } 
                arr.join(', ')
                div.innerHTML += arr
                                
                div.innerHTML += '</div>'
            }

            div.innerHTML += '</div>'
        }
    }

</script>

<h1>CLAP Manager</h1>


<div class="container">
    <div class="col-sm">
        <div class="row">
                <div class="btn-group">
                        <button class="btn btn-outline-primary" onclick="start_nodes()">
                                Start Instances
                        </button>

                        <button class="btn btn-outline-primary" onclick="stop_nodes()">
                                Stop
                        </button>
                </div>
        </div>
    </div>
</div>

<div class="container">

    <h2>Nodes</h2>

    <div id="node-div">

    </div>

</div>

{% endblock %}
